<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CreepyBot.Notify" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="CreepyBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="CreepersBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="CreepersBot.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CreepyBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CreepyBot.Notify>
      <setting name="volume" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="msgPath" serializeAs="String">
        <value />
      </setting>
      <setting name="track" serializeAs="String">
        <value>ale.mp3</value>
      </setting>
    </CreepyBot.Notify>
    <CreepyBot.Properties.Settings>
      <setting name="channel" serializeAs="String">
        <value>CreeperMenn</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>oauth:***</value>
      </setting>
      <setting name="user" serializeAs="String">
        <value>CreepersBot</value>
      </setting>
      <setting name="msgMax" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="msgDelay" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="JoinMessage" serializeAs="String">
        <value>CreepyBot joined to chat...</value>
      </setting>
      <setting name="ircHost" serializeAs="String">
        <value>irc.twitch.tv</value>
      </setting>
      <setting name="ircPort" serializeAs="String">
        <value>6667</value>
      </setting>
      <setting name="path" serializeAs="String">
        <value />
      </setting>
    </CreepyBot.Properties.Settings>
    <CreepersBot.Properties.Settings>
      <setting name="channel" serializeAs="String">
        <value />
      </setting>
      <setting name="oAuth" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>
        </value>
      </setting>
    </CreepersBot.Properties.Settings>
    <CreepersBot.Settings>
      <setting name="channel" serializeAs="String">
        <value />
      </setting>
    </CreepersBot.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <CreepyBot.Properties.Settings>
      <setting name="AppName" serializeAs="String">
        <value>CreepyBot</value>
      </setting>
    </CreepyBot.Properties.Settings>
  </applicationSettings>
</configuration>
